*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
}
.input-group {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
}
.news-input {
    width: 50%;
}
.lead {
    font-size: 1.25rem;
    font-weight: 300;
}
.accordion-header {
    margin-bottom: 0;
}
